@import "../../_globalColor";

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
  gap: 1.5rem; /* Adjust gap between the cards */
}

.project-detail {
  padding: 15px 0;
  text-align: center;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-skills {
  font-size: 14px;
  color: $skillsColor;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 16px;
  line-height: 1.8;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid $lightBorder1;
  justify-content: center;
  min-height: 350px;
}

.project-card-dark {
  background-color: $darkBackground;
}

.project-card:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 16px; 
}

.project-card {
  flex: 1 1 300px; 
  max-width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box; 
}


@media (max-width: 600px) {
  .project-card {
    flex: 1 1 100%; 
  }
}
